<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nota</title>
</head>
    <body>
        <h1>Calculo de média:</h1>
        <div>
            <form method="get">
                <label for="nota1">Nota 1</label>
                <input type="text" id="notaUmId" placeholder="Insira sua primeira nota" required="required" nota1="nota1" />
                <br>
                <label for="nota2">Nota 2</label>
                <input type="text" id="notaDoisId" placeholder="Insira sua segunda nota" required="required" nota2="nota2" />
                <br><br>
                <input type="submit" class="enviar" onclick="Enviar();" value="Enviar" />
            </form>
        </div>
    </body>
</html>